<p>
    <img src="{{ recipe.image }}" alt="">
</p>

<!-- 
<div>
    
    <p> {{ recipe.title }} </p>
    <p> {{ recipe.description }} </p>
    <h2>Ingredients List</h2>
    <p> {{ recipe.ingredients.ingredients_1 }} </p>
    <p> {{ recipe.ingredients.ingredients_2 }} </p>
    <p> {{ recipe.ingredients.ingredients_3 }} </p>
    <p> {{ recipe.ingredients.ingredients_4 }} </p>
    <p> {{ recipe.ingredients.ingredients_5 }} </p>
    <p> {{ recipe.ingredients.ingredients_6 }} </p>
    <h2>Steps List</h2>
    <p> {{ recipe.steps.steps_1 }} </p>
    <p> {{ recipe.steps.steps_2 }} </p>
    <p> {{ recipe.steps.steps_3 }} </p>
    <p> {{ recipe.steps.steps_4 }} </p>
    <p> {{ recipe.steps.steps_5 }} </p>
    <p> {{ recipe.steps.steps_6 }} </p>
</div>

-->

<app-tabs-container>
    <app-tabs tabTitle="Recipe Title List">
        Here are the ingredients of the recipte
    </app-tabs>

    <app-tabs tabTitle="Recipe Description">
        Here are the Description of the recipte
    </app-tabs>

    <app-tabs tabTitle="Ingredients List">
        Here are the ingredients of the recipte
    </app-tabs>

    <app-tabs tabTitle="Steps List">
        Here are the steps of the recipte
    </app-tabs>
</app-tabs-container>