<div>
    <p>
        <img src="{{ recipe.image }}" alt="">
    </p>
    <p> {{ recipe.title }} </p>
    <p> {{ recipe.description }} </p>
    <h2>Ingredients List</h2>
    <p> {{ recipe.ingredients.ingredients_1 }} </p>
    <p> {{ recipe.ingredients.ingredients_2 }} </p>
    <p> {{ recipe.ingredients.ingredients_3 }} </p>
    <p> {{ recipe.ingredients.ingredients_4 }} </p>
    <p> {{ recipe.ingredients.ingredients_5 }} </p>
    <p> {{ recipe.ingredients.ingredients_6 }} </p>
    <h2>Steps List</h2>
    <p> {{ recipe.steps.steps_1 }} </p>
    <p> {{ recipe.steps.steps_2 }} </p>
    <p> {{ recipe.steps.steps_3 }} </p>
    <p> {{ recipe.steps.steps_4 }} </p>
    <p> {{ recipe.steps.steps_5 }} </p>
    <p> {{ recipe.steps.steps_6 }} </p>
</div>



