
<div class="recipe_card_group">
    <div class="recipe_card" *ngFor="let recipe of recipeList">
        <div class="imgbox">
            <img class="recipe_image" src="../../assets/images/itachi.jpg" alt="">
        </div>
        <div class="recipe_content">
            <h3 class="recipe_title">{{ recipe.title }}</h3>
            <p class="recipe_description">{{ recipe.description }}</p>
            <a [routerLink]="['/recipe/', recipe._id]" class="readmore_recipe">
                <button class="btn btn-outline-info" >Read more</button>
            </a>
        </div>
    </div>
</div>

