<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
      <img class="navbar-brand" src="../../assets/images/blue.png"/>
      
      
      <button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span (click)="changeIcon"  class="navbar-toggler-icon"></span>
      </button>
      

        <div class="collapse navbar-collapse justify-content-end " id="navbarSupportedContent">
          <div class="form-inline">
          
            <ul class="">
              <li class="task-button">
              
                <div>
                
                  <button class="btn btn-outline-none" [routerLink]="['/recipes']">Available Recipes</button>
                  <button class="btn btn-outline-none" [routerLink]="['/menu']">Menu</button>
                  <button class="btn btn-outline-success" [routerLink]="['/add-recipes']" >Add a Recipe</button>
                  <button class="btn btn-outline-none " [routerLink]="['/news']">News</button>
                  <button class="btn btn-outline-none" [routerLink]="['/meals']">Meals of Reagion</button>
                </div>
              </li>
            </ul>
          </div>
    
         

          <ng-template #welcomeTemplate>
            <p id="welcomeMessage">Welcome {{ username }}  </p>
            <li><button class="btn btn-outline-danger" (click)="signOut()">Sign Out</button></li>
          </ng-template>
         


          <ul *ngIf="!userInfo; else welcomeTemplate" class="nav-links">
            <button class="btn btn-outline-success"  data-toggle="modal" data-target="#signupmodal">Sign Up</button>
            <button class="btn btn-outline-success" data-toggle="modal" data-target="#signinmodal">Sign In</button>
          </ul>
         
          
        
        </div>
</nav>

<div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-labelledby="signupmodal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="signupmodaltitle">Sign Up</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <form action=""  [formGroup]="registerForm" (ngSubmit)="subscribe()">
          <div class="modal-body">
            <app-input [control]="name"  type="text" placeholder="enter Your name"></app-input>
            <app-input [control]="email" type="email" placeholder="enter Your email"></app-input>
            <app-input [control]="password" type="password" placeholder="enter Your password"></app-input>
          </div>
          <p class="text-center" [attr.data-dismiss]="modalValue"  id="signupResponse"></p>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
            <button  type="submit" class="btn btn-outline-success">Sign Up</button>
          </div>
        </form>
        
      </div>
    </div>
</div>

<div class="modal fade" id="signinmodal" tabindex="-1" role="dialog" aria-labelledby="signinmodal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="signinmodaltitle">Sign In</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="modal-body">
            <app-input [control]="emailLogin" type="text" placeholder="enter Your email"></app-input>
            <app-input [control]="passwordLogin" type="password" placeholder="enter Your password"></app-input>
          </div>
          <p class="text-center" id="signinResponse"></p>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
            <button  type="submit" class="btn btn-outline-success">Sign In</button>
          </div>
        </form>
        
      </div>
    </div>
</div>